@using MvcMiniProfiler;
@{
    var profiler = MiniProfiler.Current;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    <title>@ViewBag.Title</title>
    
    <!-- Global Styles -->
    @MvcHtmlString.Create(SquishIt.Framework.Bundle.Css()
        .Add("~/Content/html5reset-1.6.1.css")
		.Add("~/Content/jquery.jgrowl.css")
        .Add("~/Content/Site.css")
        .Render("~/Content/combined_#.css"))
    <!-- Extra Header -->
    @RenderSection("ExtraHeader", false)

    @MvcHtmlString.Create(SquishIt.Framework.Bundle.JavaScript()
        .Add("~/Scripts/modernizr-2.0.6-development-only.js")
        .Render("~/Scripts/modernizer_#.js"))

    @MiniProfiler.RenderIncludes(position: RenderPosition.Right, showTrivial: false, showTimeWithChildren: false)

    <meta name="google-site-verification" content="p95BdMF_mCb60fQ_JxF6wcopsIhyFaSIfaysZYELHhk" />
</head>
<body>
    <div id="header-image">
        @RenderSection("HeaderImage", false)
    </div>
    
    <section id="header">
        <header>
            <nav>
                @*<ul>
                    <li class='selected'>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li><a href="@Url.Action("List", "Blog")">Sam and Michele's Blog</a></li>
                </ul>*@
            </nav>
            @*@RenderSection("SiteMenu", false)*@
            @*<div id="title">
                <h1>My MVC Application</h1>
            </div>
            <div id="logindisplay">
                @Html.Partial("_LogOnPartial")
            </div>
            <nav>
                <ul id="menu">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                </ul>
            </nav>*@
        </header>
    </section>

    <section id="main">
        @RenderBody()
    </section>

    <footer id="site-footer">
        <p>
            &copy; 2011 williamsonfamily.com. Design inspired by
            <a href="http://www.freecsstemplates.org/">Free CSS Templates</a>.
            Free Hosting from <a href="http://www.christianasp.net/Hosting.aspx"><img width="80" height="15" border="0" src="http://www.christianasp.net/images/free_aspnet_80x15.gif" alt="Free ASP.NET Web Hosting by ChristianASP.NET" /></a>
        </p>
    </footer>

    @{Html.RenderPartial("~/Views/Shared/LoginUserControl.cshtml");}

    <!-- Global Scripts -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.3/jquery.min.js" type="text/javascript"></script> 
    <script>window.jQuery || document.write("<script type='text/javascript' src='@Url.Content("~/scripts/jquery-1.6.3.min.js")'>\x3C/script>")</script>

	<script type="text/javascript">
		var logErrorUrl = 'exception/log'; 
	</script>
    @MvcHtmlString.Create(SquishIt.Framework.Bundle.JavaScript()
        .Add("~/Scripts/jquery.easing.1.3.js")
        .Add("~/Scripts/jquery.collapse.js")
		.Add("~/Scripts/jquery.jgrowl.js")
		.Add("~/Scripts/site.coffee")
		.Add("~/Scripts/site.errorhandler.coffee")	
        .Render("~/Scripts/combined_#.js"))

    <!-- Page Level scripts -->
    @RenderSection("ScriptSection", false)  

    @if (!Request.Url.Host.Contains("localhost") && !Request.IsAuthenticated) {
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-12711044-1']);
        _gaq.push(['_trackPageview']);
        _gaq.push(['_trackPageLoadTime']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
        
        @RenderSection("AnalyticsSection", false)  
    }
</body>
</html>